<a href="https://colab.research.google.com/github/risa0122/FBA/blob/main/data_test_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Processing

In [ ]:
import pandas as pd

data = pd.read_csv('data_asset_choosed.csv')
data.head()
data.shape
data = data.bfill()

In [ ]:
data.head()

   Unnamed: 0         NII@NI225   IKS200   IKQ150        A132030  SPI@SPX
0  2010-10-01  NIKKEI 225 INDEX  코스피 200  코스닥 150  KODEX 골드선물(H)  S&P 500
1  2010-10-01             9404      243      968           9995     1146
2  2010-10-04             9381      244      964          10065     1137
3  2010-10-05             9519      244      964          10065     1161
4  2010-10-06             9691      248      971          10285     1160

In [ ]:
asset_names = data.loc[0].tolist()
del asset_names[0]
print(len(asset_names))
print(asset_names)

5
['NIKKEI 225 INDEX', '코스피 200', '코스닥 150', 'KODEX 골드선물(H)', 'S&P 500']

In [ ]:
data = data.drop(0,0)
data.head()

   Unnamed: 0 NII@NI225 IKS200 IKQ150 A132030 SPI@SPX
1  2010-10-01     9404    243    968    9995    1146
2  2010-10-04     9381    244    964   10065    1137
3  2010-10-05     9519    244    964   10065    1161
4  2010-10-06     9691    248    971   10285    1160
5  2010-10-07     9685    247    967   10335    1158

In [ ]:
data.rename(columns={data.columns[0]:"Date"},inplace=True)
data.head()

         Date NII@NI225 IKS200 IKQ150 A132030 SPI@SPX
1  2010-10-01     9404    243    968    9995    1146
2  2010-10-04     9381    244    964   10065    1137
3  2010-10-05     9519    244    964   10065    1161
4  2010-10-06     9691    248    971   10285    1160
5  2010-10-07     9685    247    967   10335    1158

In [ ]:
data.set_index('Date')

           NII@NI225 IKS200 IKQ150 A132030 SPI@SPX
Date
2010-10-01     9404    243    968    9995    1146
2010-10-04     9381    244    964   10065    1137
2010-10-05     9519    244    964   10065    1161
2010-10-06     9691    248    971   10285    1160
2010-10-07     9685    247    967   10335    1158
...              ...    ...    ...     ...     ...
2020-05-21    20552    264   1093   12300    2949
2020-05-22    20388    260   1080   12260    2955
2020-05-25    20742    263   1096   12240    2992
2020-05-26    21271    267   1111   12275    2992
2020-05-27    21419    268   1103   12055    3036

[2379 rows x 5 columns]

In [ ]:
asset_ID = []
for i in range(len(data.columns)) :
  asset_ID.append(data.columns[i])
del asset_ID[0]
print(asset_ID)
#asset_ID[0]= 'period'

['NII@NI225', 'IKS200', 'IKQ150', 'A132030', 'SPI@SPX']

#수익률 table

In [ ]:
## make data frame
columns = ['period_buy','period_sell']+ asset_ID
data_temp = pd.DataFrame(columns=[columns])
#data_temp.reindex(data_temp.columns.tolist()+[asset_ID])
data_temp.head()

Empty DataFrame
Columns: [(period_buy,), (period_sell,), (NII@NI225,), (IKS200,), (IKQ150,), (A132030,), (SPI@SPX,)]
Index: []

In [ ]:
#del asset_ID[0]

test_period = 200
for i in range(len(data)-test_period):
  for id in asset_ID:
    st = float(data.iloc[i].loc[id])
    end = float(data.iloc[i+test_period].loc[id])
    profit = ((end-st)/st)*100
    data_temp.loc[i,'period_buy'] = data.iloc[i,0]
    data_temp.loc[i,'period_sell'] = data.iloc[i+test_period,0]
    data_temp.iloc[i].loc[id] = profit

In [ ]:
data_temp.head()

   period_buy period_sell NII@NI225   IKS200   IKQ150  A132030  SPI@SPX
0  2010-10-01  2011-07-20   6.40153  15.2263  8.78099  21.5608  15.7068
1  2010-10-04  2011-07-21   6.70504  14.3443  8.92116  21.4108  18.2058
2  2010-10-05  2011-07-22   6.43975  15.9836  10.3734  20.5166  15.8484
3  2010-10-06  2011-07-25   3.70447  12.9032  9.78373  20.0292  15.2586
4  2010-10-07  2011-07-26   4.26433    14.17  11.4788  19.4969  15.0259

In [ ]:
print(asset_ID)

['A069500', 'A143850', 'A195930', 'A192090', 'A148070', 'A136340', 'A182490', 'A132030', 'A130680']

In [ ]:
data_temp.to_excel('return_252.xlsx') # saving data

#Backtest

In [ ]:
date = []
total_account_value = []
import math
asset = 10000000
columns = ['date','buy/sell']+asset_ID
data_r = pd.DataFrame(columns=[columns])
a= 0
i = 0
rebalance = 15 # 변경 가능
li_change = []
while i < len(data)-1.5*rebalance :
  buy_list = []
  buy_date = data.loc[data['Date'] == data_temp.loc[i,'period_sell'].item()].index.item()+1
  #print(buy_date)
  sell_date = buy_date + rebalance
  total = 0
  #####buy index0#####
  data_r.loc[a,'date'] = data.loc[buy_date,'Date']
  data_r.loc[a,'buy/sell'] = 'buy_ratio'
  for id in asset_ID:
      if float(data_temp.loc[i,id]) > 1.3 : ### 이자율 --> 매수 조건
        buy_list.append(id)
        #print(buy_list)
  for id in buy_list:
    total = data_temp.loc[i,id].item()+total
  for id in asset_ID:
    if id in buy_list:
      data_r.loc[a,id] = (data_temp.loc[i,id].item()/total)*100
    else :
      data_r.loc[a,id] = 0
  #####buy index1#####
  data_r.loc[a+1,'date'] = data.loc[buy_date,'Date']
  data_r.loc[a+1,'buy/sell'] = 'buy_stock_number'
  for id in asset_ID:
    if id in buy_list:
      data_r.loc[a+1,id] =math.floor(((data_temp.loc[i,id].item()/total)*asset)/float(data.loc[buy_date,id]))##1000만원 기준
    else :
      data_r.loc[a+1,id] = 0
    #####buy index2#####
  data_r.loc[a+2,'date'] = data.loc[buy_date,'Date']
  data_r.loc[a+2,'buy/sell'] = 'buy_asset_value'
  asset_total = 0
  for id in asset_ID:
    if id in buy_list:
      data_r.loc[a+2,id] = data_r.loc[a+1,id].item()*float(data.loc[buy_date,id])
      asset_total = data_r.loc[a+2,id].item() + asset_total
    else :
      data_r.loc[a+2,id] = 0
  data_r.loc[a+2,'total_asset_value'] = asset_total
  data_r.loc[a+2,'left'] = asset - asset_total
  data_r.loc[a+2,'total'] = asset_total + data_r.loc[a+2,'left'].item()
  ####sell index3#####
  data_r.loc[a+3,'date'] = data.loc[sell_date,'Date']
  data_r.loc[a+3,'buy/sell'] = 'sell_asset_value'
  asset_total =  0
  for id in asset_ID:
    if id in buy_list:
      data_r.loc[a+3,id] = data_r.loc[a+1,id].item()*float(data.loc[sell_date,id])
      asset_total = data_r.loc[a+3,id].item() + asset_total
    else :
      data_r.loc[a+3,id] = 0
  data_r.loc[a+3,'total_asset_value'] = asset_total
  data_r.loc[a+3,'total'] = data_r.loc[a+3,'total_asset_value'].item() + data_r.loc[a+2,'left'].item()
  asset = data_r.loc[a+3,'total'].item()
  #####sell index4#####
  data_r.loc[a+4,'date'] = data.loc[sell_date,'Date']
  data_r.loc[a+4,'buy/sell'] = 'profit'
  asset_total =  0
  for id in asset_ID:
    if id in buy_list:
      data_r.loc[a+4,id] = data_r.loc[a+3,id].item()-data_r.loc[a+2,id].item()
    else :
      data_r.loc[a+4,id] = 0
  data_r.loc[a+4,'total_asset_value'] = data_r.loc[a+3,'total_asset_value']-data_r.loc[a+2,'total_asset_value']
  data_r.loc[a+4,'total'] = round(((data_r.loc[a+3,'total'].item()-data_r.loc[a+2,'total'].item())/data_r.loc[a+2,'total'].item())*100,2)
  print(i,data_r.loc[a+1,'date'].item(),data_r.loc[a+4,'total'].item(),asset)
   
  li_change.append(data_r.loc[a+4,'total'].item())
  a = a + 5
  i = i + rebalance
data_r.head()

0 2011-10-05 6.17 10617355.0
15 2011-10-26 2.22 10852805.0
30 2011-11-16 -1.48 10692342.0
45 2011-12-07 -7.04 9939484.0
60 2011-12-28 4.53 10389384.0
75 2012-01-19 3.74 10777934.0
90 2012-02-13 -1.08 10661979.0
105 2012-03-06 -0.24 10635869.0
120 2012-03-27 -2.73 10345145.0
135 2012-04-18 -2.62 10073782.0
150 2012-05-10 -2.57 9814537.0
165 2012-06-01 1.3 9942102.0
180 2012-06-25 2.38 10178372.0
195 2012-07-16 2.95 10479052.0
210 2012-08-06 1.08 10591807.0
225 2012-08-28 3.55 10967884.0
240 2012-09-18 -3.1 10628118.0
255 2012-10-11 -1.07 10514508.0
270 2012-11-01 -1.17 10391752.0
285 2012-11-22 2.14 10614380.0
300 2012-12-13 3.27 10961568.0
315 2013-01-09 2.85 11273577.0
330 2013-01-30 1.07 11394282.0
345 2013-02-21 8.68 12383467.0
360 2013-03-15 1.21 12533604.0
375 2013-04-05 5.79 13259213.0
390 2013-04-26 8.34 14364527.0
405 2013-05-21 -10.01 12926518.0
420 2013-06-12 3.38 13362841.0
435 2013-07-03 4.63 13981481.0
450 2013-07-24 -2.98 13564858.0
465 2013-08-14 -0.95 13436546.0
480 2013-09-05 2.86 13820306.0
495 2013-10-01 0.7 13916937.0
510 2013-10-24 2.23 14226712.0
525 2013-11-14 1.29 14410779.0
540 2013-12-05 5.4 15189679.0
555 2013-12-27 -1.58 14949570.0
570 2014-01-21 -5.34 14151432.0
585 2014-02-13 3.54 14652485.0
600 2014-03-06 -2.58 14274101.0
615 2014-03-27 -0.09 14260668.0
630 2014-04-17 1.13 14421737.0
645 2014-05-13 1.42 14626991.0
660 2014-06-03 1.74 14881697.0
675 2014-06-26 0.28 14923649.0
690 2014-07-17 -1.05 14767339.0
705 2014-08-07 2.52 15139374.0
720 2014-08-29 1.03 15295059.0
735 2014-09-24 -7.22 14190054.0
750 2014-10-17 10.42 15669348.0
765 2014-11-07 2.62 16079260.0
780 2014-11-28 0.21 16113754.0
795 2014-12-19 -2.86 15653374.0
810 2015-01-14 2.91 16109445.0
825 2015-02-04 4.89 16897900.0
840 2015-03-02 2.83 17376746.0
855 2015-03-23 1.84 17696768.0
870 2015-04-13 -2.71 17217523.0
885 2015-05-06 5.2 18113304.0
900 2015-05-28 -0.18 18080600.0
915 2015-06-18 -0.84 17927910.0
930 2015-07-09 0.15 17955514.0
945 2015-07-30 -7.42 16624029.0
960 2015-08-21 -2.03 16287367.0
975 2015-09-11 -0.0 16287031.0
990 2015-10-06 1.86 16589736.0
1005 2015-10-28 1.4 16822236.0
1020 2015-11-18 -1.6 16553704.0
1035 2015-12-09 0.26 16597315.0
1050 2016-01-04 1.63 16867375.0
1065 2016-01-25 -9.19 15317775.0
1080 2016-02-18 6.61 16330975.0
1095 2016-03-11 -1.85 16028079.0
1110 2016-04-01 -0.17 16000229.0
1125 2016-04-25 2.78 16444899.0
1140 2016-05-18 -1.02 16277099.0
1155 2016-06-09 4.38 16990249.0
1170 2016-06-30 -0.05 16981859.0
1185 2016-07-21 1.59 17252360.0
1200 2016-08-11 -1.87 16930412.0
1215 2016-09-02 0.6 17031390.0
1230 2016-09-28 -2.53 16601235.0
1245 2016-10-20 0.66 16711493.0
1260 2016-11-10 -7.34 15484964.0
1275 2016-12-01 -0.85 15354004.0
1290 2016-12-22 1.82 15633968.0
1305 2017-01-13 0.57 15722688.0
1320 2017-02-07 1.63 15979400.0
1335 2017-02-28 0.8 16107823.0
1350 2017-03-22 -1.74 15826839.0
1365 2017-04-12 6.07 16788241.0
1380 2017-05-08 0.27 16833829.0
1395 2017-05-30 1.38 17066146.0
1410 2017-06-21 0.73 17190756.0
1425 2017-07-12 0.75 17319448.0
1440 2017-08-02 -2.52 16882908.0
1455 2017-08-24 1.65 17161724.0
1470 2017-09-14 4.64 17958761.0
1485 2017-10-13 4.69 18801805.0
1500 2017-11-03 3.55 19469878.0
1515 2017-11-24 -2.68 18948691.0
1530 2017-12-15 7.45 20360817.0
1545 2018-01-10 4.88 21353537.0
1560 2018-01-31 -4.89 20309188.0
1575 2018-02-23 0.28 20367048.0
1590 2018-03-19 -1.23 20117220.0
1605 2018-04-09 -2.1 19693936.0
1620 2018-04-30 -0.85 19525796.0
1635 2018-05-24 -2.18 19101022.0
1650 2018-06-18 -1.23 18866526.0
1665 2018-07-09 -5.89 17756109.0
1680 2018-07-30 2.54 18207377.0
1695 2018-08-21 3.32 18812482.0
1710 2018-09-11 -2.28 18383336.0
1725 2018-10-08 -9.48 16641504.0
1740 2018-10-30 -1.53 16387222.0
1755 2018-11-20 -0.19 16356212.0
1770 2018-12-11 0.0 16356212.0
1785 2019-01-04 0.0 16356212.0
1800 2019-01-25 0.0 16356212.0
1815 2019-02-20 0.83 16491268.0
1830 2019-03-14 2.53 16908180.0
1845 2019-04-04 1.97 17241893.0
1860 2019-04-25 -3.19 16692111.0
1875 2019-05-20 1.62 16962453.0
1890 2019-06-11 3.01 17473752.0
1905 2019-07-02 1.43 17723263.0
1920 2019-07-23 3.74 18385758.0
1935 2019-08-13 0.79 18531408.0
1950 2019-09-04 -2.31 18104028.0
1965 2019-09-27 -1.17 17891800.0
1980 2019-10-22 -0.6 17783828.0
1995 2019-11-12 -0.13 17760870.0
2010 2019-12-03 3.1 18311508.0
2025 2019-12-24 3.09 18877081.0
2040 2020-01-17 0.06 18888527.0
2055 2020-02-11 -7.26 17516497.0
2070 2020-03-03 -7.38 16223387.0
2085 2020-03-24 10.47 17921407.0
2100 2020-04-14 -3.29 17331417.0

KeyError: ignored

In [ ]:
print(date)

['2011-10-28', '2011-11-22', '2011-12-15', '2012-01-10', '2012-02-06', '2012-02-29', '2012-03-26', '2012-04-19', '2012-05-15', '2012-06-11', '2012-07-04', '2012-07-27', '2012-08-22', '2012-09-14', '2012-10-11', '2012-11-05', '2012-11-28', '2012-12-24', '2013-01-21', '2013-02-14', '2013-03-12', '2013-04-04', '2013-04-29', '2013-05-24', '2013-06-19', '2013-07-12', '2013-08-06', '2013-08-30', '2013-09-27', '2013-10-24', '2013-11-18', '2013-12-11', '2014-01-08', '2014-02-04', '2014-02-27', '2014-03-24', '2014-04-16', '2014-05-14', '2014-06-10', '2014-07-03', '2014-07-28', '2014-08-21', '2014-09-18', '2014-10-15', '2014-11-07', '2014-12-02', '2014-12-26', '2015-01-22', '2015-02-16', '2015-03-16', '2015-04-08', '2015-05-04', '2015-05-29', '2015-06-23', '2015-07-16', '2015-08-10', '2015-09-03', '2015-09-30', '2015-10-26', '2015-11-18', '2015-12-11', '2016-01-08', '2016-02-02', '2016-03-02', '2016-03-25', '2016-04-20', '2016-05-17', '2016-06-10', '2016-07-05', '2016-07-28', '2016-08-23', '2016-09-20', '2016-10-14', '2016-11-08', '2016-12-01', '2016-12-26', '2017-01-19', '2017-02-15', '2017-03-13', '2017-04-05', '2017-04-28', '2017-05-29', '2017-06-22', '2017-07-17', '2017-08-09', '2017-09-04', '2017-09-27', '2017-10-30', '2017-11-22', '2017-12-15', '2018-01-12', '2018-02-06', '2018-03-06', '2018-03-29', '2018-04-23', '2018-05-18', '2018-06-15', '2018-07-10', '2018-08-02', '2018-08-28', '2018-09-20', '2018-10-22', '2018-11-14', '2018-12-07', '2019-01-04', '2019-01-29', '2019-02-26', '2019-03-22', '2019-04-16', '2019-05-13', '2019-06-05', '2019-07-01', '2019-07-24', '2019-08-19', '2019-09-11', '2019-10-10', '2019-11-04', '2019-11-27', '2019-12-20', '2020-01-17', '2020-02-13', '2020-03-09', '2020-04-01', '2020-04-27', '2020-05-25']

In [ ]:
print(total_account_value)

[10758580.0, 10304783.0, 9573698.0, 9901288.0, 10564458.0, 10868906.0, 10317481.0, 10070351.0, 9634229.0, 9937229.0, 10233398.0, 10270462.0, 10470532.0, 10815764.0, 10474143.0, 10294790.0, 10327933.0, 10743616.0, 11141769.0, 11480350.0, 12235923.0, 12451060.0, 13252609.0, 13801714.0, 12823141.0, 13743740.0, 13730511.0, 12833159.0, 13934371.0, 13831205.0, 14359429.0, 14547177.0, 15052866.0, 13535755.0, 14381242.0, 14140557.0, 14133997.0, 14280704.0, 14759716.0, 15051718.0, 15117664.0, 15124864.0, 15334738.0, 14284400.0, 15739066.0, 16243956.0, 16336542.0, 16258735.0, 16710795.0, 17273387.0, 17677608.0, 17596392.0, 18397609.0, 18862009.0, 19153861.0, 18911479.0, 16872423.0, 16353760.0, 17113052.0, 17405508.0, 16845319.0, 17352840.0, 17793730.0, 16686556.0, 16686556.0, 16818820.0, 17238580.0, 17063680.0, 18130570.0, 18091648.0, 18090959.0, 17811977.0, 17384093.0, 17560994.0, 16627984.0, 16707730.0, 16951120.0, 17293757.0, 17520185.0, 17342355.0, 17643921.0, 18304289.0, 18515993.0, 18734347.0, 18453079.0, 18202382.0, 18806579.0, 19933793.0, 20978279.0, 20497145.0, 22917989.0, 21860050.0, 21787187.0, 21656639.0, 21342638.0, 21072755.0, 21147997.0, 20441655.0, 19577581.0, 20158022.0, 20993436.0, 19537842.0, 18097817.0, 17635724.0, 16959327.0, 16959327.0, 16959327.0, 17021544.0, 17665600.0, 17019277.0, 17104005.0, 17939181.0, 18340941.0, 18741765.0, 18551465.0, 18612358.0, 18664078.0, 18571546.0, 18930045.0, 19549120.0, 19628954.0, 17463934.0, 16450606.0, 17875526.0, 17802826.0]

In [ ]:
data_r.to_excel('buysell_cal400_re13.xlsx') # saving data

In [ ]:
data_r.tail(50)

In [ ]:
#portfolio
## variance
import numpy as np
print(li_change)
print(np.var(li_change))

[7.59, -4.22, -7.09, 3.42, 6.7, 2.88, -5.07, -2.4, -4.33, 3.15, 2.98, 0.36, 1.95, 3.3, -3.16, -1.71, 0.32, 4.02, 3.71, 3.04, 6.58, 1.76, 6.44, 4.14, -7.09, 7.18, -0.1, -6.54, 8.58, -0.74, 3.82, 1.31, 3.48, -10.08, 6.25, -1.67, -0.05, 1.04, 3.35, 1.98, 0.44, 0.05, 1.39, -6.85, 10.18, 3.21, 0.57, -0.48, 2.78, 3.37, 2.34, -0.46, 4.55, 2.52, 1.55, -1.27, -10.78, -3.07, 4.64, 1.71, -3.22, 3.01, 2.54, -6.22, 0.0, 0.79, 2.5, -1.01, 6.25, -0.21, -0.0, -1.54, -2.4, 1.02, -5.31, 0.48, 1.46, 2.02, 1.31, -1.02, 1.74, 3.74, 1.16, 1.18, -1.5, -1.36, 3.32, 5.99, 5.24, -2.29, 11.81, -4.62, -0.33, -0.6, -1.45, -1.26, 0.36, -3.34, -4.23, 2.96, 4.14, -6.93, -7.37, -2.55, -3.84, 0.0, 0.0, 0.37, 3.78, -3.66, 0.5, 4.88, 2.24, 2.19, -1.02, 0.33, 0.28, -0.5, 1.93, 3.27, 0.41, -11.03, -5.8, 8.66, -0.41]
16.6725508096